attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
click==8.0.1
cloudinary==1.29.0
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
homebrew==0.2.5
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.8.0
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pyparsing==3.0.7
pytest==6.2.5
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
Werkzeug==2.0.1
