body {
    background: url("/static/images/background5.jpg") no-repeat center center; 
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    backdrop-filter: blur(5px)  
  }

.main {
    font-family: 'Source Sans Pro', sans-serif;
    backdrop-filter: blur(80px)

}

.recipe-img {
    width: 18rem;
    height: 12rem;
    border-radius: 5px;

}

.btn-primary {
    background-color: #fff;
    margin: 0em;
    padding: 1px 6px;
    /* border-width: 2px;
    border-style: outset;
    border-image: initial; */
    border-color: #198754;
    color: #198754;
}

.btn-primary:hover {
    color: #fff;
    background-color: #198754;
    border-color: #ced4da;
}

.big-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#sidebar {
    position: sticky;
    left: 10px;
    width: 25%;
    height: 25vh;

    /* top: 0;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s; */
}

#content {
    width: 60%;
    height: 25%;
}

.column {
  float: left;
  width: 50%;
}

.left {
    width: 30%;
}
  
  .right {
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}