{% extends 'base.html' %}
{% block title %}Adding new awesome recipe {% endblock %}
{% block content%}
<div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 fs-5" >
        <div class="main">
            <p>

            </p>
            <br>
            <p></p>
            <br>
            <p></p>
            <br>
            “Eat This!” is a smart recipe application which allows you to create, 
            edit, favorite, and search for new recipes from around the globe. 
            Recommendation algorithms consider user’s food preferences, often used 
            and added recipes.
        </div>
    </div>
    <div class="col-02"></div>
    

{% endblock %}