{% extends 'base.html' %}
{% block title %}Adding new awesome recipe {% endblock %}
{% block content%}

<form id={{recipe_id}} action="/add_new_recipe" method="post" enctype="multipart/form-data">
    <p>
        Recipe name <input type="text" name="title">
    </p>
    <p>
        cuisine <input type="text" name="cuisine">
        diet <input type="text" name="diet">
    </p>

    <p>
        ingredient <input type="text" name="ingredient">
       
    </p>


    <ul id='steps'>
        <li>
            Instructions <input class="newInstr" id="newInstr0" type="text" name="step" size=300>
            <button class="addInstr"> add </button>
        </li>
    </ul>
    <p>
    <button class="addStep"> Do you want to add another step? </button>
    <button id="instrDone"> No, I'm done with instructions </button>

    </p>

    <input type="file" name="recipe_img">
    <p>

    </p>
    
    <p>
    <button type="submit"> Add new recipe </button>
    </p>
</form>
<script src='/static/js/add_recipe.js'></script>

{% endblock %}