<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <!-- My custom styles -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- JS for React-->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    
    
    
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg" role="alert">
      {{ msg }}
    </p>
  {% endfor %}

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <a class="navbar-brand" href="#"> <img src="/static/images/logo.png" alt="Eat This!" width=150px></a>
    <!-- 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
    </button>--> 
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home <span class="sr-only"></span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/about"> About </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/all_recipes"> All Recipes </a>
        </li> 
    
        <form class="d-flex" action="/search">
          <input class="form-control me-2" id="searchField" name="cuisine" type="search" placeholder="Search" aria-label="search">
          <button class="btn btn-outline-success" id="searchBttn" type="submit">Search</button>
        </form>
        
        <form class="d-flex" action="/ingredient_search">
          <input class="form-control me-2" id="ingredientSearchField" name="ingredient" type="search" placeholder="Search by ingredient" aria-label="ingredientSearch">
          <button class="btn btn-outline-success" id="ingredientSearchBttn" type="submit"> Search by ingredient </button>
        </form>
      
        {% if session['current_user'] %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
            Let's start!
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile/{{ session['current_user'] }}"> My Profile</a></li>
            <li><a class="dropdown-item" href="/user_recipes"> My own recipes </a></li>
            <li><a class="dropdown-item" href="/user_favorite"> My favorites </a></li>
            <li><a class="dropdown-item" href="/new_recipe"> Add new recipe </a></li>

            <li><a class="dropdown-item" href="/meal_plan"> Meal Plan</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Log Out</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Come in
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/login_page">Log In</a></li>
            <li><a class="dropdown-item" href="/registration">Register</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>        
    </div>
  </nav>

  <br>
    <div class="container">
      {% block content %}  {% endblock %}
    </div>

    <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


  </body>

</html>
