{% extends 'base.html' %}
{% block title %} Eat This! Recipes: {% endblock %}

{% block content %}
<h1> {{message}} </h1>
<div class="row">
  
  {% for recipe in recipes %}
  <div class="col-sm-4">
    <div class="card" style="width: 18rem; height: 18rem; margin-top: 30px;">
      {% if recipe.images %}
      <img class="card-img-top recipe-img" src="{{ recipe.images[0].url }}" alt="Card image cap"> 
      
      {% else %}
      <img class="card-img-top recipe-img" src="/static/images/placeholder.png" alt="Card image cap">

      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <a href="/recipes/{{ recipe.recipe_id }}" class="btn btn-primary">View Recipe</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
