{% extends 'base.html' %}
{% block title %} {{recipe.title}} {% endblock %}

{% block content%}
<span class="card text-white bg-info mb-3" style="display:inline-block;">
    {% for image in recipe.images %}
       
        <img src="{{image.url}}" 
        alt="{{ recipe.title }}" style="height:300px; width:300;">

        {% endfor %}
    </span>

    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
    </div>
    <p>
    </p>
    {% if session['current_user'] %} 

        {% if recipe.added_by==session['current_user'] %}
            "{{recipe.title}}" is your own recipe. Do you want to edit it?
            <a id="edit_recipe" href="/edit_{{recipe.recipe_id}}"> Let's edit </a>     
        {% endif %}
        
        {% if recipe.recipe_id in favorites %}
            "{{recipe.title}}" is in yous Favorites! Do you want to edit it?
            <a id="edit_recipe" href="/edit_{{recipe.recipe_id}}"> Let's edit </a>

        {% else %}
            <div>
                <form action="/add_fav">
                    <button type="submit" id="add_fav"> I like it! </button>
                </form>
            </div>
        {% endif %}

    {% endif %}
    <p id="rating">
        <span id="new_rating">{{rating}}</span> liked this recipe!
    </p>
    <div>
        Ingredients:
        <p>
        </p>
        {% for ingredient in recipe.ingredients %}
            <div>
                {{ingredient.ing_name}} - {{ingredient.qty}} {{ingredient.unit}}
            </div>
        {% endfor %}
        </div>
    <div>
        Instructions:
        <p>
        </p>
        {% for step in recipe.steps%}
            {% if step.step_image %}
            <div>
                {{ step.step_image }}
            </div>
            {% endif %}
            <div>
                {{ step.instruction }}
            </div>
        {% endfor %}

    </div>
  </div>
  <input type="hidden" id='hidden_recipe_id' name='recipe_id' value={{recipe.recipe_id}}>
  <input type="hidden" id='hidden_recipe_title' name='title' value={{recipe.title}}>
  <script src='/static/js/recipe.js'></script>
{% endblock %}