{% extends 'base.html' %}
{% block title %} Eat This! {% endblock %}

{% block content %}

<h2>
    Hi, {{user.user_id}}!
</h2>

<h3>
    <ul id="interests">
        You're interested in
        {% for pref in user.preferences %}
        <li> {{pref.preference}}, </li>
        {% endfor %}
        do you want to add new interests?
    </ul>
</h3>

    <form id="user_preferences" method="POST" enctype="multipart/form-data">
        I'm interested in
        <p>
            <input type="text" class="newPref" id="newPref0" name="pref0"> cuisine/diet
            <button class="addPref" id="addPref0"> Do you want to add another interest? </button>
        </p>



    </form>
        
   
    <p id="userEmail"> Email: {{user.email}}
            <button class="editEmail" id="editEmail"> edit </button>
    </p>
    <p>
    <form id="newEmailForm" action="/change_email" method="POST" hidden="true">
        <p> 
            New email <input id="newEmail" type="text" name="email">
        </p>
        <button id="saveNewEmail" type="submit"> save </button>
    </form>
    </p>
    
        <button id="save_changes"> Save all changes </button>
    </p>

<script src='/static/js/user_account.js'></script>
{% endblock %}